body {
    margin: 0;
}
.container {
    width: 800px;
    height: 600px;
    background-image: linear-gradient(to bottom , rgba(179, 249, 254, 0.819) , white);
    margin: auto;
    margin-top: 50px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}
.drop {
    height: 15px;
    width: 1px;
    box-shadow: 0 0 1px 2px rgb(133, 212, 255);
    background-color: rgb(133, 212, 255);
    position: absolute;
    top: -20px;
    transform: rotate(10deg);
    
}
.d1 {
    left: 50px;
    animation: rain 1s 10 ;
}
.d2 {
    left: 160px;
    animation: rain 1.4s 8 ;
}
.d3 {
    left: 230px;
    animation: rain 0.7s 12 ;
}
.d4 {
    left: 350px;
    animation: rain 1.2s 7 ;
}
.d5 {
    left: 475px;
    animation: rain 1.3s 9 ;
}
.d6 {
    left: 600px;
    animation: rain 1.1s 10 ;
}
.d7 {
    left: 720px;
    animation: rain 0.65s 13 ;
}
.d8 {
    left: 775px;
    animation: rain 0.8s 9 ;
}
@keyframes rain {
    0% { top: -20px;}
    100% { top : 620px;}
}

@keyframes tree-anim {
    from { height: 150px;  }
    to { height: 400px; bottom: -20px;  }
}

@keyframes sun-anim {
    from { top: -250px  }
    to { top: -80px; }
}

@keyframes cloud-anim {
    from { left: 0px  }
    to { left:  850px; }
}
.sun {
    position: absolute;
    top: -250px;
    left: -50px;
    width: 250px;
    animation: sun-anim 2.5s forwards 11s;
    border: -10px solid rgba(255, 255, 255, 0);
}
.tree {
    position: absolute;
    bottom: -7px;
    left: 300px;
    height: 150px;
    animation: tree-anim 8s forwards 3s;
}
.cloud {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 150px;
    animation: cloud-anim 8s forwards ;
}