body{
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    width: 1000px;
    height: 400px;
    padding: 20px;
    font-weight: bold;
    background-color: rgb(0, 0, 96);
    margin: auto;
    margin-top: 100px;
}

.text1 {
    margin-left: 0;
    animation-name: anim1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 4s;
    color: rgb(255, 255, 255);
    font-size: 26px;
}

@keyframes anim1 {
    0% {margin-left: 0;  color: rgb(255, 255, 255);}
    50% {margin-left: 400px; color: rgb(243, 231, 0); }
    100% {margin-left: 750px;  color: rgb(255, 255, 255);}
}













