* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}
.container{
    width: 635px;
    height: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    border: 3px solid black;
    background-color: rgb(208, 232, 255);
}
.letter {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 201);
    position: absolute;
    top: 400px;
   
}
.M {
    left: 200px;
    animation: anim1 1.5s ;
}
.O {
    left: 250px;
    animation: anim1 1.5s ;
    animation-delay: 1.25s;
}
.H {
    left: 300px;
    animation: anim1 1.5s ;
    animation-delay: 2.5s;
}
.A {
    left: 350px;
    animation: anim1 1.5s ;
    animation-delay: 3.75s;
}
.R {
    left: 400px;
    animation: anim1 1.5s ;
    animation-delay: 5s;
}

@keyframes anim1 {
    0%   {top : 400px ; font-size: 40px ; color: rgb(0, 0, 201) ;}
    25%  {top : 50px  ; font-size: 100px; color: rgb(83, 83, 83); left: 275px;}
    75%  {top : 50px  ; font-size: 100px; color: rgb(162, 10, 10); left: 275px;}
    100% {top : 400px ; font-size: 40px ; color: rgb(83, 83, 83);}
}