body {
	margin : 0;
	font-family : sans-serif;
}
*{
	box-sizing : border-box;
}
.btn1 {
	width : 500px;
	height : 75px;
	background-color : rgb(20,88,98);
	padding : 10px;
	margin-bottom : 10px;
	color : white;
	font-size : 18px;
	font-weight : bold;
	display : block;
}
#d1 {
	width : 500px;
	height : 75px;
	background-color : rgb(56,3,98);
	padding : 10px;
	color : white;
	font-size : 30px;
	font-weight : bold;
	text-align : center;
	padding-top : 20px;
}