body {
    background-color: rgb(74, 74, 74);
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 1120px;
    padding: 20px;
    margin: auto;
    background-color: rgb(209, 209, 209);
    min-height: 600px;
    padding-right: 0;
    border-radius: 20px;
}
.card {
    display: inline-block;
    width: 200px;
    height: 220px;
    padding: 15px;
    background-color: rgb(74, 74, 74);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 2px 5px rgb(255, 247, 171);
    vertical-align: top;
}
.stu_gender {
    width: 100px;
    margin-bottom: 10px;
}
.stu_name {
    font-size: 25px;
    color: yellow;
    margin-bottom: 10px;
}
.succeeded {
    background-color: rgb(0, 104, 0);
}
.failed {
    background-color: rgb(209, 0, 0);
}
.plus {
    font-size: 100px;
    margin-top: 30px;
    user-select: none;
    cursor: pointer;
}
.stu_form {
    width: 500px;
    padding: 20px;
    background-color: rgb(0, 0, 130);
    color: white;
    position: absolute;
    top: 200px;
    left: calc(50% - 250px);
    border-radius: 20px;
    display: none;
}
.stu_form input,select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
}
.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}