body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 500px;
    padding: 25px;
    background-color: rgb(255, 255, 221);
    margin: auto;
    margin-top: 100px;
}

.text {
    font-size: 16px;
    font-weight: bold;
    animation-name: anim1;
    animation-duration: 2s;
}

@keyframes anim1 {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 620px;
    }
}