body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    width: 800px;
    min-height: 500px;
    padding: 20px;
    margin: auto;
    background-color: rgb(108, 117, 143);
    color: white;
    font-size: 20px;
}
.controls {
    width: 800px;
    height: 50px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(185, 235, 189);
}
.btn1{
    height: 100%;
}
.card {
    min-width: 125px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(12, 6, 128);
    text-align: center;
}

.failed {
    color: rgb(238, 163, 163);
    font-weight: bold;
}
.succeeded {
    color: rgb(153, 236, 157);
    font-weight: bold;
}