body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(96, 96, 96);
    width: 700px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    border-radius: 20px;
    border: 10px ridge rgb(179, 0, 0);
    user-select: none;
}

.letter {
    position: absolute;
    top: 25px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(120, 39, 39);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.d {
    left: 200px;
    
}
.e {
    left: 250px;
}
.s {
    left: 300px;
}
.i {
    left: 350px;
}
.g {
    left: 375px;
}
.n {
    left: 425px;
}

.add_animation {
    animation: anim 0.6s forwards;
}

@keyframes anim {
    0%{top : 25px}
    50%{top : 300px ; color: white;  text-shadow: 0 0 5px rgb(131, 16, 16); font-size: 80px;}
    100%{top : 25px}
}